.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.6rem;
}

@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: center;
  }
}

.list-social__item .icon {
  height: 2.2rem;
  width: 2.2rem;
}

.list-social__link {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1rem;
  color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.utility-bar .list-social__link {
  padding: 0 0.8rem;
  height: 3.8rem;
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}

.product__list-social {
  justify-content: flex-start;
}

.product__list-social .list-social__item .list-social__link {
  width: auto;
  height: auto;
  background-color: white !important;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(var(--color-foreground), .1);
  border-radius: 0;
  text-decoration: none;
  gap: .8rem;
  padding: .8rem 1rem;
}

.product__list-social .list-social__item .list-social__link span {
  color: rgb(var(--color-foreground));
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 1;
}