@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  position: absolute;
  z-index: 1;
  width: 1.8rem;
}

@media screen and (max-width: 749px) {
  .collection .loading-overlay {
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    left: 0;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 1rem;
}

.collection-page .main-content {
  display: grid;
  grid-template-areas: 'sidebar main-content';
  grid-template-columns: 30rem 1fr;
}

.content-sidebar a {
  text-decoration: none;
  color: rgb(var(--color-foreground));
}

.content-sidebar a:hover {
  color: rgb(var(--color-link));
}

.nav-accordion {
  list-style: none;
  padding: 0;
  margin-top: .5rem;
  font-size: 1.4rem;
}

.nav-accordion li {
  margin-bottom: .5rem;
}

.collections-menu__button a,
.nav-accordion >li>a {
  font-weight: 500;
}

.nav-accordion li ul {
  list-style: none;
  padding-left: 1.5rem;
  display: none;
}

.layer-navigation__head h4 {
  position: relative;
  margin-bottom: 3rem;
}

.layer-navigation__head h4::before {
  content: "";
  position: absolute;
  top: calc(100% + .5rem);
  height: .2rem;
  width: 4rem;
  background-color: rgb(var(--color-foreground));
}

.layer-navigation {
  margin-bottom: 5rem;
}

.sidebar-detail .product-card-wrapper {
  margin-top: 2.4rem;
}

.sidebar-detail .product-card-wrapper:first-child {
  margin-top: 0
}

.sidebar-detail .product-card-wrapper .card {
  flex-wrap: wrap;
  flex-direction: row;
}

.sidebar-detail .product-card-wrapper .card .card__inner {
  width: 8.9rem;
  height: 8.9rem;
  border-radius: 1rem;
  overflow: hidden;
}

.sidebar-detail .product-card-wrapper .card .card__content {
  width: calc(100% - 8.9rem);
  padding-left: 1.5rem;
  text-align: left;
}

.sidebar-detail .product-card-wrapper .card .card__content .card-information {
  text-align: left;
}

.collection-product-grid {
  position: relative;
}

.collection-product-grid .collection-title {
  font-size: var(--font-base);
  text-transform: uppercase;
  position: absolute;
  left: 5rem;
  top: 1.2rem;
  margin: 0;
}

.js_categories_content .collection-hero .collection-hero__description:not(:empty) {
  padding-bottom: 3.6rem;
}

.js_categories_content .section + .section {
  margin-top: 0;
}